version: "3.9"

services:
  # API Gateway
  gateway:
    build: ./../gateway/ApiGateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    environment:
      - Jwt__Key=CHAVE-64-CHARS
      - Jwt__Issuer=sistema-rh
      - Jwt__Audience=sistema-rh-client
    depends_on:
      - auth
      - funcionarios
      - jornada
      - folha
      - beneficios
      - logs
      - rabbitmq

  # Auth Service
  auth:
    build: ./../services/auth-service
    container_name: auth-service
    environment:
      - ConnectionStrings__Default=Server=db-auth;Database=AuthDB;User Id=sa;Password=Your_password123;Encrypt=False
      - Jwt__Key=CHAVE-64-CHARS
      - Jwt__Issuer=sistema-rh
      - Jwt__Audience=sistema-rh-client
    ports:
      - "8081:8080"
    depends_on:
      - db-auth

  # Funcionários Service
  funcionarios:
    build: ./../services/funcionarios-service
    container_name: funcionarios-service
    environment:
      - ConnectionStrings__Default=Server=db-func;Database=FuncDB;User Id=sa;Password=Your_password123;Encrypt=False
      - RabbitMq__Host=rabbitmq
      - RabbitMq__User=guest
      - RabbitMq__Pass=guest
    ports:
      - "8082:8080"
    depends_on:
      - db-func
      - rabbitmq

  # Jornada & Escala Service
  jornada:
    build: ./../services/jornadaescala-service
    container_name: jornadaescala-service
    environment:
      - ConnectionStrings__Default=Server=db-jor;Database=JornadaDB;User Id=sa;Password=Your_password123;Encrypt=False
      - RabbitMq__Host=rabbitmq
      - RabbitMq__User=guest
      - RabbitMq__Pass=guest
    ports:
      - "8083:8080"
    depends_on:
      - db-jor
      - rabbitmq

  # Folha Service
  folha:
    build: ./../services/folha-service
    container_name: folha-service
    environment:
      - ConnectionStrings__Default=Server=db-fol;Database=FolhaDB;User Id=sa;Password=Your_password123;Encrypt=False
      - RabbitMq__Host=rabbitmq
      - RabbitMq__User=guest
      - RabbitMq__Pass=guest
    ports:
      - "8084:8080"
    depends_on:
      - db-fol
      - rabbitmq

  # Benefícios Service
  beneficios:
    build: ./../services/beneficios-service
    container_name: beneficios-service
    environment:
      - ConnectionStrings__Default=Server=db-ben;Database=BenefDB;User Id=sa;Password=Your_password123;Encrypt=False
    ports:
      - "8085:8080"
    depends_on:
      - db-ben

  # Logs Service
  logs:
    build: ./../services/logs-service
    container_name: logs-service
    environment:
      - AzureTable__ConnectionString=UseDevelopmentStorage=true
      - AzureTable__TableName=funcionarioslog
      - RabbitMq__Host=rabbitmq
      - RabbitMq__User=guest
      - RabbitMq__Pass=guest
    ports:
      - "8086:8080"
    depends_on:
      - azurite
      - rabbitmq

  # RabbitMQ (mensageria)
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672" # UI de administração

  # Azurite (simulador Azure Storage)
  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    container_name: azurite
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"

  # Bancos separados por serviço
  db-auth:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: db-auth
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Your_password123
    ports:
      - "14331:1433"

  db-func:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: db-func
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Your_password123
    ports:
      - "14332:1433"

  db-jor:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: db-jor
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Your_password123
    ports:
      - "14333:1433"

  db-fol:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: db-fol
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Your_password123
    ports:
      - "14334:1433"

  db-ben:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: db-ben
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Your_password123
    ports:
      - "14335:1433"
